<div class="page-header">

  <ul class="nav navbar-nav pull-right back-jhelu">

    <%= link_to home_category_path , class: 'btn btn-info' do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Back
    <% end %>
  </ul>

  <h1 class="title glyphicon glyphicon-shopping-cart"> Listing Products</h1>
</div>
<div class="container">
  <div class="row">
    <%= content_tag_for(:tr, @products) do |product| %>
        <ul class="thumbnails col-md-3">

          <div class="thumbnail">

            <h3 class="text-center"><%= product.product_name %></h3>
            <%= image_tag product.image , :class => "thumbnail thumb_height"%>

            <span class="pull-right">
              <i id="like1" class="glyphicon glyphicon-thumbs-up"></i> <div id="like1-bs3"></div>
              <i id="dislike1" class="glyphicon glyphicon-thumbs-down"></i> <div id="dislike1-bs3"></div>
            </span>

            <% if product.status == true %>
                <p class="active text-center"><b>Status:</b> Active</p>
            <% else %>
                <p class="inactive text-center"><b>Status:</b> Inactive</p>
            <% end %>

            <div class="caption">
              <p><b>Available Sizes:</b> <%= product.available_sizes %></p>
              <p><b>Available Colors:</b> <%= product.available_colors %></p>
              <p><b>Category:</b> <%= product.category.category_name %></p>

              <p class="text-center">
                <%= link_to home_category_path , class: 'btn btn-md btn-primary' do %>
                    Buy Product
                <% end %>
              </p>

            </div>
          </div>
        </ul>
    <% end %>
  </div>

</div>