<body class="login_background">
<div class="jhelu-header">

</div>
<div class="container">
  <div class="row">
    <%= content_tag_for(:tr, @products) do |product| %>
        <ul class="thumbnails col-md-3">

          <div class="thumbnail">

            <h3 class="text-center"><%= product.product_name %></h3>
            <%= image_tag product.image , :class => "thumbnail thumb_height"%>
            <div class="caption">
            <% if product.status == true %>
                <p class="active text-center"><b>Status:</b> Active</p>
            <% else %>
                <p class="inactive text-center"><b>Status:</b> Inactive</p>
            <% end %>
            <p class="text-center">
              <%= link_to home_category_path , :class => 'btn btn-primary' do %>
                  <span class="glyphicon glyphicon-shopping-cart"></span>
                  Add to Cart
              <% end %>
            </p>


              <p><b>Available Sizes:</b> <%= product.available_sizes %></p>
              <p><b>Available Colors:</b> <%= product.available_colors %></p>
              <p><b>Category:</b> <%= product.category.category_name %></p>

            </div>
          </div>
        </ul>
    <% end %>
  </div>

</div>

<!-- footer -->
<div class="footer navbar-fixed-bottom" role="navigation">
  <div class="pull-left">
    <form class="navbar-form navbar-left newsletter" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Your Email Id Here">
      </div>
      <button type="submit" class="btn btn-inverse">Subscribe</button>
    </form>
    <div class="links">
      <a href="<%= home_about_path %>">About </a>
      <a href="<%= home_terms_path %>">Terms & Condition </a>
      <a href="<%= home_contact_path %>">Contact </a>
    </div>
  </div>

  <div class="social pull-right">
    <a href="https://www.facebook.com/"><i class="fa fa-facebook-square" data-toggle="tooltip" data-placement="top" data-original-title="facebook"></i></a>
    <a href="https://www.instagram.com/"><i class="fa fa-instagram"  data-toggle="tooltip" data-placement="top" data-original-title="instragram"></i></a>
    <a href="https://www.twitter.com/"><i class="fa fa-twitter-square" data-toggle="tooltip" data-placement="top" data-original-title="twitter"></i></a>
    <a href="https://www.pinterest.com/"><i class="fa fa-pinterest-square" data-toggle="tooltip" data-placement="top" data-original-title="pinterest"></i></a>
    <a href="https://www.tumblr.com/"><i class="fa fa-tumblr-square" data-toggle="tooltip" data-placement="top" data-original-title="tumblr"></i></a>
    <a href="https://www.youtube.com/"><i class="fa fa-youtube-square" data-toggle="tooltip" data-placement="top" data-original-title="youtube"></i></a>
  </div>
</div>

<!-- footer -->
</body>