<div class="page-header">

  <ul class="nav navbar-nav pull-right">

    <%= link_to home_category_path , class: 'btn btn-info' do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
            Back
        <% end %>
  </ul>

  <h1 class="title glyphicon glyphicon-shopping-cart"> Listing Products</h1>
</div>
<div class="container">
  <div class="row">
    <%= content_tag_for(:tr, @products) do |product| %>
        <ul class="thumbnails col-md-3">

          <div class="thumbnail">
            <h3 class="text-center"><%= product.product_name %></h3>
            <%= image_tag product.image , :class => "thumbnail thumb_height"%>
            <span class="pull-right">
                        <i id="like1" class="glyphicon glyphicon-thumbs-up"></i> <div id="like1-bs3"></div>
                        <i id="dislike1" class="glyphicon glyphicon-thumbs-down"></i> <div id="dislike1-bs3"></div>
                    </span>
            <p class="text-center">
              <%= link_to home_category_path , class: 'btn btn-md btn-primary' do %>
                  Buy Product
              <% end %>
            </p>
            <div class="caption">
              <p><b>Available Sizes:</b> <%= product.available_sizes %></p>
              <p><b>Available Colors:</b> <%= product.available_colors %></p>
              <p><b>Category:</b> <%= product.category_id %></p>

            </div>
          </div>
        </ul>
    <% end %>
  </div>

</div>

<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="image-gallery-title"></h4>
      </div>
      <div class="modal-body">
        <img id="image-gallery-image" class="img-responsive" src="">
      </div>
      <div class="modal-footer">

        <div class="col-md-2">
          <button type="button" class="btn btn-primary" id="show-previous-image">Previous</button>
        </div>

        <div class="col-md-8 text-justify" id="image-gallery-caption">
          This text will be overwritten by jQuery
        </div>

        <div class="col-md-2">
          <button type="button" id="show-next-image" class="btn btn-default">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>