<div class="page-header">
  <%= link_to new_category_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Category
  <% end %>
  <h1 class="title glyphicon glyphicon-list-alt"> Listing Categories</h1>
</div>
<div class="container">
  <div class="row">
    <%= content_tag_for(:tr, @categories) do |category| %>
    <ul class="thumbnails col-md-3">

        <div class="thumbnail">
          <h3 class="text-center"><%= category.category_name %></h3>
          <%= image_tag category.image , :class => "thumbnail thumb_height"  %>
          <% if category.status == true %>
              <p class="active text-center"><b>Status:</b> Active</p>
          <% else %>
              <p class="inactive text-center"><b>Status:</b> Inactive</p>
          <% end %>
          <div class="text-center">
          <%= link_to products_path(:category => category.id)  , :class => 'btn btn-success' do %>
                <span class="glyphicon glyphicon-plus"></span>
                Add Products
          <% end %>
          </div>
          <div class="caption">

            <p class="text-center"><b>Description:</b> <%= category.description %></p>
            <div class="glyphicon-jhelu">
              <%= link_to '', category, :class => "glyphicon glyphicon-book book" %>
              <%= link_to '', edit_category_path(category), :class => "glyphicon glyphicon-edit edit" %>
              <%= link_to '', category, method: :delete, data: {confirm: 'Are you sure?'}, :class => "glyphicon glyphicon-remove remove" %>
            </div>
          </div>
        </div>
     </ul>
    <% end %>
  </div>

</div>

