<div class="page-header">
  <%= link_to categories_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_category_path(@category), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show Car</h1>
</div>

<dl class="dl-horizontal show-list">
  <dt>Category name:</dt>
  <dd><%= @category.category_name %></dd>

  <dt>Description:</dt>
  <dd><%= @category.description %></dd>

  <dd><% if @category.status == true %></dd>
      <dt>Status: Active</dt>
  <% else %>
      <dt>Status: Inactive</dt>
  <% end %>

  <dt>Image:</dt>

  <div class="col-md-4"><%=image_tag @category.image , :class => "thumbnail" %></div>

</dl>
